@use "@angular/material" as mat; /* Esto nos permite importar los estilos de angular material para poder usarlos  */


.primary{
    @include mat.theme(
        (
            color: mat.$azure-palette
        )
    )
};

.secondary{
    @include mat.theme(
        (
            color: mat.$magenta-palette
        )
    )
}

.warn{
  @include mat.theme(
        (
            color: mat.$red-palette
        )
    )
}
