/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Esto es para mantener el menu pegado arriba aunque hagamos scroll hacia abajo */

body{
    height: fit-content;
}