/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Esto es para mantener el menu pegado arriba aunque hagamos scroll hacia abajo */

body{
    height: fit-content;
}

/* Estilos generales  de formularios */

form button{
    margin-right: 1rem;
}

mat-form-field{
    width: 100%;
    max-width: 500px;
    display: block !important;
    margin-top: 1rem;
}


.contenedor-botones{
    margin-top: 1rem;
}