<!-- Variables de referencia 
 
<input type="file" style="display: none;" #cargadorArchivos>

<button (click)="cargadorArchivos.click()">Cargar archivo</button>

-->

<!-- Eventos en Angular -->
<!--
<button (click)="clickBoton()">Haz click aqui</button>

Aplicar estilos a botones con Angular 19 en adelante

<button mat-flat-button class="primary">Primary</button>
<button mat-flat-button class="secondary">Secondary</button>
<button mat-flat-button class="warn">Warn</button>

-->
<app-menu></app-menu>

<div class="contenedor">
 <router-outlet></router-outlet>

 
</div>