<!--
<button (click)="agregarPelicula()">Agregar Pelicula</button>
-->
<h2>Mi listado de películas</h2>


<app-listado-generico [listado]="peliculas">
   
    <ng-container cargando> <!-- en caso de que queramos personalizar el Loading de algun componente-->
          
    </ng-container>

    <ng-container vacio>
      <span style="color: red;">No hay películas para mostrar</span>
    </ng-container>

    <ng-container contenido>
        @for (pelicula of peliculas; track $index) {
        <div class="contenedor-pelicula">
            <div style="display: flex; gap: 10px;">
                <div>
                    @if(pelicula.poster){
                    <!-- Esta propiedad [priority]="$index === 0" lo que indica que la primera imagen debe tener prioridad para cargar -->
                    <img [ngSrc]="pelicula.poster" [priority]="$index === 0" width="169" height="250" />

                    }@else{

                    <img [src]="" width="169" height="250" />

                    }
                </div>

                <div>
                    <p>{{$index}} Pelicula: {{pelicula.titulo | uppercase}}</p>
                    <p>Fecha Lanzamiento: {{pelicula.fechaLanzamiento | date}}</p>
                    <p>Precio: {{pelicula.precio | currency}}</p>
                    <button mat-flat-button (click)="removerPelicula(pelicula)">
                    <mat-icon>delete</mat-icon>
                    Remover</button>
                </div>
            </div>
        </div>
        }
    </ng-container>

</app-listado-generico>