<button (click)="agregarPelicula()">Agregar Pelicula</button>


@if (!peliculas){

<img src="Loading.gif" alt="">
<!-- Ya esto va directamente a la carpeta public ya que esta se encarga de imagenes y archivos estaticos y busca Loading.gif -->

}@else if (peliculas.length === 0){

<div>
    <p>No hay elementos para mostrar</p>
</div>

}@else{

@for (pelicula of peliculas; track $index) {
<div class="contenedor-pelicula">
    <div style="display: flex; gap: 10px;">
        <div>
            @if(pelicula.poster){
            <!-- Esta propiedad [priority]="$index === 0" lo que indica que la primera imagen debe tener prioridad para cargar -->
            <img [ngSrc]="pelicula.poster" [priority]="$index === 0" width="169" height="250" />

            }@else{

            <img [src]="" width="169" height="250" />

            }
        </div>

        <div>
            <p>{{$index}} Pelicula: {{pelicula.titulo | uppercase}}</p>
            <p>Fecha Lanzamiento: {{pelicula.fechaLanzamiento | date}}</p>
            <p>Precio: {{pelicula.precio | currency}}</p>
            <button style="background-color: red; color: white; border: none; width: 120px; height: 40px; border-radius: 10px; font-weight: bold; cursor: pointer;" (click)="removerPelicula(pelicula)">Borrar película</button>
        </div>
    </div>
</div>
}
}