@if (!listado){

<div #cargando>
    <ng-content select="[cargando]"></ng-content>
</div>

@if(!cargando.innerHTML.trim()){

<img src="Loading.gif" alt="">
<!-- Ya esto va directamente a la carpeta public ya que esta se encarga de imagenes y archivos estaticos y busca Loading.gif -->
}

}@else if (listado.length === 0){

<div #vacio> <!-- Esto es para agregar elementos personalizados-->
    <ng-content select="[vacio]"></ng-content>
</div>

@if(!vacio.innerHTML.trim()){
<div>
    <p>No hay elementos para mostrar</p>
</div>
}

}@else{
<ng-content select="[contenido]"></ng-content>
}